<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background-image:url('assets/img/ed-sheeran.jpg');"></div>
    <div class="carousel-item"  style="background-image:url('assets/img/metallica.jpg');"></div>
    <div class="carousel-item"  style="background-image:url('assets/img/heroes.jpg');"></div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Atrás</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Adelante</span>
  </a>
</div>

<div class="container margintop30">
  <div class="row">

    <div class="col-md-4 text-center">
      <img src="assets/img/artist.png" />
      <hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>

    <div class="col-md-4 text-center">
      <img src="assets/img/music.png" />
      <hr>
      Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>

    <div class="col-md-4 text-center">
      <img src="assets/img/album.png" />
      <hr>
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

  </div>
</div>
